<section id="head">
    <div class="wrapper">
    <div class=" large-12 columns">
    <nav role="navigation" class="top-bar" data-topbar>
     <ul class="title-area">
      <li><a><img src="<%= asset_url("hua.png") %>" class="logo-sm"></a></li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu </a></li>
    </ul>
    <section class="top-bar-section" style="padding:0px;">
            <ul class="left">
                <li><a href="#">NEWS</a></li>
                <li><a href="#">FACILITIES</a></li>
                 <li class="has-dropdown">
                    <a href="#">MORE</a>
                    <ul class="dropdown">
                        <li><a href="#">NEWSLETTER</a></li>
                        <li><a href="#">PARTNERS</a></li>
                        <li><a href="#">EXAMPLES</a></li>
                        <li><a href="#">GALLERY</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="right">
              <li><a href="#">FORUM</a></li>
            </ul>
       </section>
    </nav>
  </div>
</div>
</section>

    <div class="contained">
    <div class="herotext">
        <h1>Harokopeio University, Athens<br> Greece</h1>
        <p>Learn more about how education paves the road to success</p>
        <p style="color:white;margin-top: 15rem;">Take the tour with us
        <span class="fa-stack fa-lg">
             <i class="fa fa-circle-thin fa-stack-2x" style="color:white;"></i>
             <i class="fa fa-long-arrow-down fa-stack-1x"></i>
            </span>
        </p>
    </div>
    <div class="herolay"></div>
    <div class="herobox"><img alt="hero" src="<%= asset_url("hero.jpg") %>"></div>
    </div>

<div style="height:2000px">
</div>

<section id="facilities">
    <div class="row">
            <div class="skew" id="fac">
             <h2>Facilities <i class="fa fa-building-o"></i></h2>
            </div>
    </div>
    
    <div style="width:100%;padding:1px 0px;">
    <div class="fflex">
      <div class="fitem">
          <a id="acampus">Main campus</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <button>Official</button><button>Photos</button><button>Contact</button>
      </div>
      <div class="fimag">
          <img alt="photo" src="<%= asset_url("pic.jpg") %>">
            <div class="lay mainbuilding">
                 <span class="layspan mainlay"> <i class="fa fa-bank" style="font-size: 10rem;"></i><br>
                  Main campus</span>
            </div>
      </div>
    </div>
    </div>
    <hr>
    <div style="width:100%;padding:1px 0px;">
     <div class="fflex">
      <div class="fimag">
          <img alt="photo" src="<%= asset_url("pic.jpg") %>">
            <div class="lay labs">
                 <span class="layspan labslay"> <i class="fa fa-flask" style="font-size: 10rem;"></i><br>
                  Labs</span>
                  </div>
      </div>
      
      <div class="fitem">
          <a id="alabs">Laboratories</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                
                <button>Official</button><button>Photos</button><button>Contact</button>
      </div>
    </div>
    </div>
    <hr>
    <div style="width:100%;padding:1px 0px;">
     <div class="fflex">
      <div class="fitem">
          <a id="alib">Library</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <button>Official</button><button>Photos</button><button>Contact</button>
      </div>
      <div class="fimag">
          <img alt="photo" src="<%= asset_url("pic.jpg") %>">
            <div class="lay library">
                 <span class="layspan librarylay"> <i class="fa fa-book" style="font-size: 10rem;"></i><br>
                  Library</span>
                  </div>
      </div>
    </div>
    </div>
    
    
    
</section>

<section id="events">
    <div class="row">
            <div class="skew news">
            <h2>News <i class="fa fa-newspaper-o"></i></h2>
            </div>
        </div>
    <div class="content">
        
      <div class="row">
          <div class="large-8 medium-8 columns" style="padding-right:0px">
             <div class="mainnews">
              <img alt="photo" src="<%= asset_url("pic.jpg") %>">
               <div class="lay mainphoto">
                 <span class="layspan newslay"> <i class="fa fa-fire" style="font-size: 10rem;"></i><br>
                  Hottest News</span>
                  </div>
               </div>   
          </div>
          <div class="large-4 medium-4 columns" style="padding: 23px;">
              <span>Spotlight</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
              mollit anim id est laborum</p>
              <button>Learn more</button>
          </div>
      </div>
     </div> 
    <div class="row">
    <div class="large-4 medium-6 small-12 columns"><div class="event"><div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("pic.jpg") %>"></div><span>Properties for the Parent</span><p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p></div></div>
    <div class="large-4 medium-6 small-12 columns"><div class="event"><div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("pic.jpg") %>"></div><span>Properties for the Parent</span><p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p></div></div>
    <div class="large-4 medium-6 small-12 columns"><div class="event"><div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("pic.jpg") %>"></div><span>Properties for the Parent</span><p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p></div></div>

    <div class="large-4 medium-6 small-12 columns"><div class="event"><div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("pic.jpg") %>"></div><span>Properties for the Parent</span><p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p></div></div>
    <div class="large-4 medium-6 small-12 columns"><div class="event"><div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("pic.jpg") %>"></div><span>Properties for the Parent</span><p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p></div></div>
    <div class="large-4 medium-6 small-12 columns"><div class="event"><div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("pic.jpg") %>"></div><span>Properties for the Parent</span><p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p></div></div>
    </div>
    
</section>

<section id="newsletter">
    <div class="row">
        <div class="large-3 medium-3 small-12 columns" style="text-align: center;">
            <i class="fa fa-envelope-square" style="font-size:10rem;margin-left: auto;margin-right: auto;margin-top: 20px;margin-bottom: 28px;color: #9D9994;"></i>
        </div>
        <div class="large-9 medium-9 small-12 columns">
         <div class="newletterbox">   
            <h3>Harokopeio Newsletter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.</p>
            <input type="email" name="email" placeholder="example@hua.gr" style="height: 50px;">
            <button>Subscribe</button>
            </div> 
        </div>
    </div>
    
</section>
   
<section id="footer">
<img class="logo" src="<%= asset_url("hua.png") %>" alt="hua">
    <div class="row">
        <div class="small-12 medium-6 medium-centered large-centered columns ">
          
          <div class="icon-box" style="text-align: center;">
            <span class="fa-stack fa-lg"><a>
             <i class="fa fa-circle-thin fa-stack-2x"></i>
             <i class="fa fa-facebook fa-stack-1x"></i>
             </a>
            </span>
            <span class="fa-stack fa-lg"><a>
             <i class="fa fa-circle-thin fa-stack-2x"></i>
             <i class="fa fa-twitter fa-stack-1x"></i>
              </a>
            </span>
            <span class="fa-stack fa-lg"><a>
             <i class="fa fa-circle-thin fa-stack-2x"></i>
             <i class="fa fa-instagram fa-stack-1x"></i>
              </a>
            </span>
            <span class="fa-stack fa-lg"><a>
             <i class="fa fa-circle-thin fa-stack-2x"></i>
             <i class="fa fa-linkedin fa-stack-1x"></i>
              </a>
            </span>
          </div>
        </div>
  </div>

    <div class="row" style="margin-bottom: -1rem">
        <div class="small-12 medium-6 medium-centered large-centered columns ">
            <div class="link-box" style="text-align: center;">
              <span><a>Home </a>|</span>
              <span><a>Education </a>|</span>
              <span><a> Facilities </a>|</span>
              <span><a>Services</a></span>
              <br>
              <span><a>About </a>|</span> <span><a>Contact</a></span>
           </div>
        </div>    
    </div>
    
</section>

