<div class="row">
    <div class="large-12 medium-12 small-12">
        <img alt="photo" src="<%= asset_url("loberdos.jpg") %>" style="width:100%;height:400px;">
    </div>
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;">Στο Χαροκόπειο Πανεπιστήμιο ο Ανδρέας Λοβέρδος</h1>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            Ο υπουργός Παιδείας  Ανδρέας Λοβέρδος, πραγματοποίησε σήμερα επίσκεψη στο Χαροκόπειο Πανεπιστήμιο όπου συναντήθηκε με τον Πρύτανη  Δημοσθένη Σ. Αναγνωστόπουλο.
<br>Ο υπουργός ενημερώθηκε για τα προγράμματα σπουδών, τις πρωτοβουλίες και δράσεις του Ιδρύματος  καθώς και για τα προβλήματα που αυτό αντιμετωπίζει. Ακόμα, ενημερώθηκε για το πρωτοποριακό πρόγραμμα «ΕΥ ΖΗΝ», την εθνική δράση υγείας για τη ζωή των νέων όπου συμμετείχαν έως τώρα περισσότεροι από 355.000 μαθητές από όλη τη χώρα.
<br>Ο Πρύτανης του Χαροκόπειου Πανεπιστημίου μετά το τέλος της συνάντησης, δήλωσε :
 <em>«H επίσκεψη του υπουργού Παιδείας Α. Λοβέρδου, σήμερα στο Χαροκόπειο Πανεπιστήμιο, καταδεικνύει το ενδιαφέρον του για τα Πανεπιστήμια της χώρας και αποτελεί ιδιαίτερη τιμή για το Πανεπιστήμιό μας. 
Είχαμε την ευκαιρία να μιλήσουμε για τις ακαδημαϊκές  επιδόσεις, το όραμα και τη στρατηγική ανάπτυξης του Ιδρύματός μας. Ταυτόχρονα, συζητήσαμε για τα σημαντικά ζητήματα που απασχολούν σήμερα όλα τα Ιδρύματα, όπως ο δραστικός περιορισμός του προσωπικού των Ιδρυμάτων και των οικονομικών τους πόρων.
Τα Πανεπιστήμια σήμερα, περισσότερο παρά ποτέ, χρειάζονται την στήριξη της Πολιτείας τόσο ηθικά όσο και έμπρακτα, καθώς και την αναγνώριση του έργου που επιτελούν.
Διαπιστώνουμε με ιδιαίτερη ικανοποίηση ότι ο  υπουργός Παιδείας Α. Λοβέρδος, όχι μόνο έχει γνώση των εις βάθος ζητημάτων αυτών αλλά και προτίθεται να κάνει ό,τι είναι δυνατόν για την αντιμετώπισή τους».</em>
        </p>
        <hr>
    </div>
</div>



<ul class="bxslider">
  <li>
      <div class="newsflex">
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img  alt="photo" src="<%= asset_url("event.jpg") %>">
        </div><span>Info Days 2015-2016</span><p>Το Γραφείο Διασύνδεσης Σπουδών και Σταδιοδρομίας του Χαροκοπείου Πανεπιστήμιου και το Εθνικό Κέντρο Europass  σας προσκαλούν στην παρουσίαση  με τίτλο “Europass».
        <a href="/user/news1.html">Learn more...</a></p>
    </div>
    
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img  alt="photo" src="<%= asset_url("diatr.jpg") %>">
        </div><span>Δωρεάν Εκδήλωση για Μεταπτυχιακές Σπουδές στην Εφαρμοσμένη Διαιτολόγια – Διατροφή</span><p>Το Γραφείο Διασύνδεσης Σπουδών και Σταδιοδρομίας του Χαροκοπείου Πανεπιστημίου σε συνεργασία με το ΠΜΣ του Τμήματος Επιστήμης Διαιτολογίας – Διατροφής διοργανώνουν εκδήλωση με θέμα: «Μεταπτυχιακές Σπουδές στην Εφαρμοσμένη Διαιτολογία – Διατροφή ».
        <a href="/user/news6.html">Learn more...</a></p>
    </div>
    
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img  alt="photo" src="<%= asset_url("meta.jpg") %>">
        </div><span>Μεταπτυχιακά 2015: “Βιώσιμη Ανάπτυξη» στο Χαροκόπειο Πανεπιστήμιο</span><p>Το Τμήμα Οικιακής Οικονομίας και Οικολογίας του πανεπιστημίου προκηρύσσει θέσεις για μεταπτυχιακές σπουδές για το ακαδημαϊκό έτος 2015 – 2016.
        <a href="/user/news4.html">Learn more...</a></p>
    </div>
</div>
  </li>
  
  <li>
      <div class="newsflex">
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img  alt="photo" src="<%= asset_url("school.jpg") %>">
        </div><span>Θερινό Σχολείο κώδικα ΕΛ/ΛΑΚ με θέμα τον τουρισμό</span><p>Το πανεπιστήμιο διοργανώνει Θερινό Σχολείο Ανάπτυξης Κώδικα.
        <a href="/user/news5.html">Learn more...</a></p>
    </div>
    
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img  alt="photo" src="<%= asset_url("seminario.jpg") %>">
        </div><span>3η Διημερίδα Εφαρμοσμένης Διαιτολογίας & Διατροφής</span><p>Η Σχολή Επιστημών Υγείας και Αγωγής του Χαροκοπείου Πανεπιστημίου διοργανώνει την 3η Διημερίδα Εφαρμοσμένης Διαιτολογίας & Διατροφής.
        <a href="/user/news2.html">Learn more...</a></p>
    </div>
    
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img  alt="photo" src="<%= asset_url("seminar.jpg") %>">
        </div><span>13 Βιωματικά σεμινάρια από το πανεπιστήμιο</span><p>To πανεπιστήμιο ανακοίνωσε ότι θα υλοποιήσει 13 βιωματικά σεμινάρια, σε όλες τις περιφέρειες της χώρας.
        <a href="/user/news3.html">Learn more...</a></p>
    </div>
</div>
  </li>
</ul>

<section id="newsletter">
    <div class="row">
        <div class="large-3 medium-3 small-12 columns" style="text-align: center;">
            <i class="fa fa-envelope-square" style="font-size:10rem;margin-left: auto;margin-right: auto;margin-top: 20px;margin-bottom: 28px;color: #9D9994;"></i>
        </div>
        <div class="large-9 medium-9 small-12 columns">
         <div class="newletterbox">   
            <h3>Harokopeio Newsletter</h3>
            <p></p>
            <input type="email" name="email" placeholder="example@hua.gr" style="height: 50px;">
            <button>Subscribe</button>
            </div> 
        </div>
    </div>
    
</section>