<section id="events">
    <div class="content">
        
      <div class="row">
          <div class="large-8 medium-8 columns" style="padding-right:0px">
             <div class="mainnews">
              <img alt="photo" src="<%= asset_url("pic.jpg") %>">
               <div class="lay mainphoto">
                 <span class="layspan newslay"> <i class="fa fa-fire" style="font-size: 10rem;"></i><br>
                  Hottest News</span>
                  </div>
               </div>   
          </div>
          <div class="large-4 medium-4 columns" style="padding: 23px;">
              <span>Spotlight</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
              </p>
              <button>Learn more</button>
          </div>
      </div>
     </div> 
    <div class="row">
    <div class="large-4 medium-6 small-12 columns">
        <div class="event">
        <div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("event.jpg") %>">
        </div><span>Info Days 2015-2016</span><p>Το Γραφείο Διασύνδεσης Σπουδών και Σταδιοδρομίας του Χαροκοπείου Πανεπιστήμιου και το Εθνικό Κέντρο Europass  σας προσκαλούν στην παρουσίαση  με τίτλο “Europass».
        <a>Learn more...</a></p></div></div>
    
    
    
    <div class="large-4 medium-6 small-12 columns">
        <div class="event">
        <div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("seminario.jpeg") %>">
        </div><span>3η Διημερίδα Εφαρμοσμένης Διαιτολογίας & Διατροφής</span><p>Η Σχολή Επιστημών Υγείας και Αγωγής του Χαροκοπείου Πανεπιστημίου διοργανώνει την 3η Διημερίδα Εφαρμοσμένης Διαιτολογίας & Διατροφής.
        <a>Learn more...</a></p></div></div>
    
    
    
    <div class="large-4 medium-6 small-12 columns">
    <div class="event">
        <div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("seminar.jpg") %>">
        </div><span>13 Βιωματικά σεμινάρια από το πανεπιστήμιο</span><p>To πανεπιστήμιο ανακοίνωσε ότι θα υλοποιήσει 13 βιωματικά σεμινάρια, σε όλες τις περιφέρειες της χώρας.
        <a>Learn more...</a></p>
        </div>
    </div>

    </div>
    
    <div class="row">
    
    
    <div class="large-4 medium-6 small-12 columns"><div class="event">
        <div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("meta.jpg") %>">
        </div><span>Μεταπτυχιακά 2015: “Βιώσιμη Ανάπτυξη» στο Χαροκόπειο Πανεπιστήμιο</span><p>Το Τμήμα Οικιακής Οικονομίας και Οικολογίας του πανεπιστημίου προκηρύσσει θέσεις για μεταπτυχιακές σπουδές για το ακαδημαϊκό έτος 2015 – 2016.
        <a>Learn more...</a></p></div></div>
    
    
    
    <div class="large-4 medium-6 small-12 columns"><div class="event">
        <div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("school.png") %>">
        </div><span>Θερινό Σχολείο κώδικα ΕΛ/ΛΑΚ με θέμα τον τουρισμό</span><p>Το πανεπιστήμιο διοργανώνει Θερινό Σχολείο Ανάπτυξης Κώδικα.
        <a>Learn more...</a></p></div></div>
    
    
    
    <div class="large-4 medium-6 small-12 columns"><div class="event">
        <div style="overflow:hidden;"><img alt="photo" src="<%= asset_url("diatr.png") %>">
        </div><span>Δωρεάν Εκδήλωση για Μεταπτυχιακές Σπουδές στην Εφαρμοσμένη Διαιτολόγια – Διατροφή</span><p>Το Τμήμα Επιστήμης Διαιτολογίας – Διατροφής διοργανώνει εκδήλωση με θέμα: «Μεταπτυχιακές Σπουδές στην Εφαρμοσμένη Διαιτολογία – Διατροφή ».
        <a>Learn more...</a></p></div></div>
    
    </div>
    </div>
</section>
