<div class="row">
    <div class="large-12 medium-12 small-12">
        <img alt="photo" src="<%= asset_url("geo.jpg") %>" style="width:100%;height:400px;">
    </div>
    
    <div class="large-8 medium-8 small-12 large-centered medium-centered columns">
        <h1 style="text-align:center;">bbbbbbbbbbbbbbbbbbbbbbbbbbbbb</h1>
        <p style="font-size: 1.3rem;line-height: 26px;color: rgba(0, 0, 0, 0.56);">
            Τbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
        </p>
        <hr>
    </div>
</div>



<ul class="bxslider">
  <li>
      <div class="newsflex">
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img style="width: auto;height: auto;" alt="photo" src="<%= asset_url("diatr.png") %>">
        </div><span>13 Βιωματικά σεμινάρια από το πανεπιστήμιο</span><p>To πανεπιστήμιο ανακοίνωσε ότι θα υλοποιήσει 13 βιωματικά σεμινάρια, σε όλες τις περιφέρειες της χώρας.
        <a>Learn more...</a></p>
    </div>
    
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img style="width: auto;height: auto;" alt="photo" src="<%= asset_url("event.jpg") %>">
        </div><span>13 Βιωματικά σεμινάρια από το πανεπιστήμιο</span><p>To πανεπιστήμιο ανακοίνωσε ότι θα υλοποιήσει 13 βιωματικά σεμινάρια, σε όλες τις περιφέρειες της χώρας.
        <a>Learn more...</a></p>
    </div>
    
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img style="width: auto;height: auto;" alt="photo" src="<%= asset_url("seminario.jpeg") %>">
        </div><span>13 Βιωματικά σεμινάρια από το πανεπιστήμιο</span><p>To πανεπιστήμιο ανακοίνωσε ότι θα υλοποιήσει 13 βιωματικά σεμινάρια, σε όλες τις περιφέρειες της χώρας.
        <a>Learn more...</a></p>
    </div>
</div>
  </li>
  
  <li>
      <div class="newsflex">
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img style="width: auto;height: auto;" alt="photo" src="<%= asset_url("meta.jpg") %>">
        </div><span>13 Βιωματικά σεμινάρια από το πανεπιστήμιο</span><p>To πανεπιστήμιο ανακοίνωσε ότι θα υλοποιήσει 13 βιωματικά σεμινάρια, σε όλες τις περιφέρειες της χώρας.
        <a>Learn more...</a></p>
    </div>
    
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img style="width: auto;height: auto;" alt="photo" src="<%= asset_url("school.png") %>">
        </div><span>13 Βιωματικά σεμινάρια από το πανεπιστήμιο</span><p>To πανεπιστήμιο ανακοίνωσε ότι θα υλοποιήσει 13 βιωματικά σεμινάρια, σε όλες τις περιφέρειες της χώρας.
        <a>Learn more...</a></p>
    </div>
    
    <div class="event" style="margin: 45px;">
        <div style="overflow:hidden;"><img style="width: auto;height: auto;" alt="photo" src="<%= asset_url("seminar.jpg") %>">
        </div><span>13 Βιωματικά σεμινάρια από το πανεπιστήμιο</span><p>To πανεπιστήμιο ανακοίνωσε ότι θα υλοποιήσει 13 βιωματικά σεμινάρια, σε όλες τις περιφέρειες της χώρας.
        <a>Learn more...</a></p>
    </div>
</div>
  </li>
</ul>

<section id="newsletter">
    <div class="row">
        <div class="large-3 medium-3 small-12 columns" style="text-align: center;">
            <i class="fa fa-envelope-square" style="font-size:10rem;margin-left: auto;margin-right: auto;margin-top: 20px;margin-bottom: 28px;color: #9D9994;"></i>
        </div>
        <div class="large-9 medium-9 small-12 columns">
         <div class="newletterbox">   
            <h3>Harokopeio Newsletter</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.</p>
            <input type="email" name="email" placeholder="example@hua.gr" style="height: 50px;">
            <button>Subscribe</button>
            </div> 
        </div>
    </div>
    
</section>